.root {
    display: flex;
    align-items: baseline;
    font-size: 24px;
}

.time {
    margin-left: auto;
}

.edit {
    font-size: 24px;
    border: none;
}

button {
    margin-left: 15px;
}

.settings {
    margin-left: 25;
    margin-right: 5px;
}