.root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.isNew {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.isNew :first-child {
    margin-right: 5px;
}