.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    margin-top: 25px;
    font-size: 100px;
    font-family: sans-serif;
    color: rgba($color: #cfc9c900, $alpha: 1.0)
}

.taskBox {
    max-width: 800px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.logout {
    align-self: flex-end;
    margin: 10px;
}