.root {
    display: flex;
    font-size: 28px;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.textInput {
    width: 60%;
    margin-left: 5px;
    border: none;
    outline: none;
}

.smallInput {
    width: 20%;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

input {
    padding: 5px;
}